<div class="row m-4">
    <div class="col-md-6">
        <h3 style="color: rgb(49, 49, 77);">List of clients</h3>
    </div>
    <div class="col-md-6 text-right d-flex justify-content-end">
        <button class="btn btn-dark btn-sm" (click)="afficheForm()">
            <i class="fa fa-plus"></i>New Client
        </button>
    </div>
</div>
<div *ngIf="btn">
    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="mac">Adresse MAC:</label>
                        <input [(ngModel)]="myClient.mac" type="text" class="form-control" id="mac"
                            placeholder="Entrez l'adresse MAC">
                        <!-- Affichage du message d'erreur si la condition n'est pas satisfaite -->
                        <small *ngIf="!isValidMac" class="text-danger">Adresse MAC invalide.</small>
                    </div>
                    <div class="form-group">
                        <label for="nom">Nom:</label>
                        <input [(ngModel)]="myClient.nom" type="text" class="form-control" id="nom"
                            placeholder="Entrez le nom">
                        <small *ngIf="!isValidNom" class="text-danger">Nom invalide.</small>
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom:</label>
                        <input [(ngModel)]="myClient.prenom" type="text" class="form-control" id="prenom"
                            placeholder="Entrez le prénom">
                            <small *ngIf="!isValidPrenom" class="text-danger">Prenom invalide.</small>
                    </div>
                    <div class="form-group">
                        <label for="tel">Téléphone:</label>
                        <input [(ngModel)]="myClient.tel" type="text" class="form-control" id="tel"
                            placeholder="Entrez le numéro de téléphone">
                        <!-- Affichage du message d'erreur si la condition n'est pas satisfaite -->
                        <small *ngIf="!isValidTel" class="text-danger">Numéro de téléphone invalide.</small>
                    </div>
                    <div class="form-group">
                        <label for="adresse">Adresse:</label>
                        <input [(ngModel)]="myClient.adresse" type="text" class="form-control" id="adresse"
                            placeholder="Entrez l'adresse">
                            <small *ngIf="!isValidAddress" class="text-danger">Adresse invalide.</small>

                    </div>
                    <div class="form-group">
                        <label for="mail">Email:</label>
                        <input [(ngModel)]="myClient.mail" type="email" class="form-control" id="mail"
                            placeholder="Entrez l'adresse email">
                        <!-- Affichage du message d'erreur si la condition n'est pas satisfaite -->
                        <small *ngIf="!isValidEmail" class="text-danger">Adresse email invalide.</small>
                    </div>
                    <button (click)="persistClient()" class="btn btn-success btn-block m-3">
                        <i class="fa fa-send"></i> {{editMode ? "Modifier client" : "Nouveau client"}}
                    </button>
                    <button (click)="cancelForm()" class="btn btn-danger btn-block m-3">
                        <i class="fa fa-times"></i> Annuler
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!btn">

<div class="row my-4">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <input (keyup)="searchClient()" [(ngModel)]="SearchText" placeholder="Recherche..." type="text" class="form-control mt-3 mb-3">
                <ul class="list-group">
                    <li *ngFor="let client of resultClients"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-user fa-lg mr-2 ml-2"></i>
                            <span class="ml-2">{{client.nom + ' ' + client.prenom}}</span>
                        </div>
                        <div>
                            <button (click)="deleteClient(client.id)" class="btn btn-danger btn-sm m-1 mr-2"
                                data-toggle="tooltip" data-placement="top" title="Supprimer">
                                <i class="fas fa-trash"></i>
                            </button>
                            <button (click)="editClient(client.id)" class="btn btn-primary btn-sm m-1" data-toggle="tooltip"
                                data-placement="top" title="Modifier">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button (click)="detailsClient(client.id)" class="btn btn-primary btn-sm m-1"
                                data-toggle="tooltip" data-placement="top" title="details">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>