<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar">
          <header>Dashbord</header>
          <ul>
            <li><a href="main"><i class="fas fa-qrcode"></i> Client</a></li>
            <li><a href="about"><i class="fas fa-stream"></i>About us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <section class="welcome-section">
          <h1 class="text-center mb-3">Bienvenue sur notre site de santé</h1>
          <hr class="divider mb-3">
          <p class="lead">Nous sommes dédiés à votre bien-être et à votre santé.</p>
          <p class="mb-3">Grâce à notre équipe de professionnels médicaux hautement qualifiés, nous offrons une gamme complète de services de santé pour répondre à vos besoins individuels.</p>
          <p class="mb-3">Que vous recherchiez des soins médicaux préventifs, des traitements spécialisés ou des conseils en matière de santé, nous sommes là pour vous accompagner.</p>
          <p class="mb-3">N'hésitez pas à parcourir notre site pour en savoir plus sur nos services et à nous contacter pour prendre rendez-vous.</p>
          <div class="text-center mt-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJdayXyR48lgkZ80xZ-y7LU3QPe9nH8poQGD2mA7sVcOdhUwPYe7qzrecuPBvloB-nWrE&usqp=CAU" alt="">
          </div>
          <div class="text-center m-3 mb-4">
            <a href="about" class="btn btn-primary btn-lg">Prendre rendez-vous</a>
          </div>
          <hr class="divider mb-4">
          <p class="text-center">Suivez-nous sur les réseaux sociaux :</p>
          <div class="social-icons text-center">
            <a href="#" class="social-icon m-3"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon m-3"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon m-3"><i class="fab fa-instagram"></i></a>
          </div>

        </section>
      </div>
    </div>
  </div>
  