<div class="container">
    <h1>Client Details</h1>
    <div *ngIf="!ajoutBouttons" class="text-right d-flex justify-content-end">
        <button class="btn btn-dark btn-sm" (click)="displayForm(true)">
            <i class="fa fa-plus"></i>New HeartBeat
        </button>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Mac</th>
                <td>{{ client.mac }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ client.tel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ client.mail }}</td>
            </tr>
        </tbody>
    </table>

    <canvasjs-chart [options]="chartOptions"></canvasjs-chart>

    <div *ngIf="showForm">
        <div class="row mt-4">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="data1">Data1</label>
                            <input [(ngModel)]="heartbeat.data1" type="text" class="form-control" id="data1"
                                placeholder="Entrez Data1">
                            <small *ngIf="!isValidData1" class="text-danger">Data 1 invalide.</small>
                        </div>
                        <div class="form-group">
                            <label for="data2">Data2</label>
                            <input [(ngModel)]="heartbeat.data2" type="text" class="form-control" id="data2"
                                placeholder="Entrez data2">
                            <small *ngIf="!isValidData2" class="text-danger">Data 2 invalide.</small>
                        </div>
                        <div class="form-group">
                            <label for="data3">Data3</label>
                            <input [(ngModel)]="heartbeat.data3" type="text" class="form-control" id="data3"
                                placeholder="Entrez Data3">
                            <small *ngIf="!isValidData3" class="text-danger">Data 3 invalide.</small>
                        </div>
                        <div class="form-group">
                            <label for="data4">Data4</label>
                            <input [(ngModel)]="heartbeat.data4" type="text" class="form-control" id="data4"
                                placeholder="Entrez data4">
                            <small *ngIf="!isValidData4" class="text-danger">Data 4 invalide.</small>
                        </div>
                        <button (click)="persistHeartbeat()" class="btn btn-success btn-block m-3"><i
                                class="fa fa-send">Add heartbeat</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>