<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJdayXyR48lgkZ80xZ-y7LU3QPe9nH8poQGD2mA7sVcOdhUwPYe7qzrecuPBvloB-nWrE&usqp=CAU" alt="">
        <div class="text">
          <span class="text-1">Health is not valued <br> till sickness comes  </span>

         
        </div>
      </div>
      <div class="back">
        <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
        <div class="text">
          
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form action="#" >
            <div class="input-boxes">
              <div class="input-box">
               
                <input    type="text" name="emailll" placeholder="Enter your email" [(ngModel)]="loginObj.email"  ngModel name="email" #email="ngModel" required  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
              </div>
                <div  style="padding: 3%; ;" class="alert alert-danger" *ngIf="email.touched && !email.valid">
                  <div *ngIf=" email?.errors?.[ 'pattern']"> email incorrecte</div>
                  <div *ngIf=" email?.errors?.[ 'required']">required</div>
                </div>
                
              
              <div class="input-box">
               
                <input type="password" name="passworddd" placeholder="Enter your password" required [(ngModel)]="loginObj.password" ngModel name="pas" #pas="ngModel" required maxlength="5">
              </div>
              <div  style="padding: 3%; ;" class="alert alert-danger" *ngIf="pas.touched && !pas.valid">
                <div *ngIf=" pas.errors?.[ 'maxlength']"> max 5</div>
                <div *ngIf=" pas.errors?.[ 'required']">required</div>
              </div>
             
           
             
              <button class="btng"  (click)="onLogin()">Login</button>
          

              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>



        <div class="signup-form">
          <div class="title">Signup</div>
        <form action="#">
            <div class="input-boxes">
              <div class="input-box">
               
                <input type="text" name="usernamme" placeholder="Enter your name" required [(ngModel)]="signupObj.username" ngModel name="usernam" #usernam="ngModel"  required maxlength="5">
              </div>
              <div  style="padding: 3%; ;" class="alert alert-danger" *ngIf="usernam.touched && !usernam.valid">
                <div *ngIf=" usernam.errors?.[ 'maxlength']"> max 5</div>
                <div *ngIf=" usernam.errors?.[ 'required']">required</div>
              </div>
              <div class="input-box">
               
                <input    type="text" name="emailll" placeholder="Enter your email" required [(ngModel)]="signupObj.email"  ngModel name="emaill" #emaill="ngModel" required  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
              </div>
                <div  style="padding: 3%; ;" class="alert alert-danger" *ngIf="emaill.touched && !emaill.valid">
                  <div *ngIf=" emaill?.errors?.[ 'pattern']"> email incorrecte</div>
                  <div *ngIf=" emaill?.errors?.[ 'required']">required</div>
               
                
              </div>
              <div class="input-box">
          
                <input type="password" name="passwordd" placeholder="Enter your password" required [(ngModel)]="signupObj.password" ngModel name="pass" #pass="ngModel" required maxlength="5" >
              </div>
              <div  style="padding: 3%; ;" class="alert alert-danger" *ngIf="pass.touched && !pass.valid">
                <div *ngIf=" pass.errors?.[ 'maxlength']"> max 5</div>
                <div *ngIf=" pass.errors?.[ 'required']">required</div>
              </div>
             
                <button  class="btng" (click)="onSignup()">Sign up</button>
           
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
</body>
</html>